{% extends 'baseuser.html' %}
{% load staticfiles %}
{% block mainuserright %}
    <h2>收货地址</h2>
    <div class="add">
        <div onclick="add()" >
            {% csrf_token %}
            <a href="javascript:;" id="addxad"><img src="{% static 'img/jia.png' %}"></a>
            <span >添加新地址</span>
        </div>
        {% for add in addr %}
            <div>
                <p>{{ add.name }}</p>
                <p>{{ add.phone }}</p>
                <p>{{ add.province }} {{ add.city }} {{ add.area }}</p>
                <p>{{ add.details }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock mainuserright %}
{% block javascript %}
    <script>
    function add() {
        $('.mask').fadeIn(300)
        $('.adddz').fadeIn(300)
{#        $('.mask').show()#}
{#        $('.adddz').show()#}
    }
    function save(){
        var name =$('input[name="name"]').val();
        var phone = $('input[name="phone"]').val();
        var province = $('select[name="provinces"]').val()
        var area = $('select[name="areas"]').val();
        var city = $('select[name="citys"]').val();
        var details=$('textarea[name="details"]').val();
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        var savedata ='type=save&name='+name+"&phone="+phone +"&provinceid="+province+"&cityid="+city+"&areaid="+area+"&details="+details+"&csrfmiddlewaretoken="+csrf
        //发送ajax请求
        $.ajax({
            type:'post',
            url:'/user/address/',
            data:savedata,
            success:function(data){
               if (data['errorcode'] ==200){
                   window.location = '/user/address/'
               }
               $('.mask').fadeOut(300)
                $('.adddz').fadeOut(300)
            }
        })
    }
    function exit(){
        $('.mask').fadeOut(300)
        $('.adddz').fadeOut(300)
    }
    $('select[name="provinces"]').change(function () {
        var provinceid = $(this).val()
        $.ajax({
            type:'post',
            url:'/user/address/',
            data:'type=get_province&provinceid='+provinceid +"&csrfmiddlewaretoken="+$('input[name="csrfmiddlewaretoken"]').val(),
            success:function (data) {
                datap = data[0]
{#                console.log(data[1])#}
                $('select[name="citys"]').empty()
                for (var i =0;i<datap.length;i++){
                    var city = datap[i]
                    var optionNode = document.createElement('option')
                    $(optionNode).val(city.id)
                    $(optionNode).text(city.name)
                    $('select[name="citys"]').append(optionNode)
                }
                dataa = data[1]
                $('select[name="areas"]').empty()
                 for (var i =0;i<dataa.length;i++){
                    var area = dataa[i]
                    var optionNode = document.createElement('option')
                    $(optionNode).val(area.id)
                    $(optionNode).text(area.name)
                    $('select[name="areas"]').append(optionNode)
                }
            }
        })
    })
    $('select[name="citys"]').change(function () {
        var cityid = $(this).val()
        $.ajax({
            type:'post',
            url:'/user/address/',
            data:'type=get_citys&cityid='+cityid +"&csrfmiddlewaretoken="+$('input[name="csrfmiddlewaretoken"]').val(),
            success:function (data) {
                console.log(data)
                $('select[name="areas"]').empty()
                 for (var i =0;i<data.length;i++){
                    var area = data[i]
                    var optionNode = document.createElement('option')
                    $(optionNode).val(area.id)
                    $(optionNode).text(area.name)
                     console.log(area.name)
                    $('select[name="areas"]').append(optionNode)
                }
            }
        })
    })
    </script>
{% endblock javascript %}