{% extends 'base.html' %}
{% load staticfiles %}
{% block js %}<script src="{% static 'js/md5-min.js' %}"></script>{% endblock js %}
{% block content %}
    <div class="login-body">
        <div class="login-card">
            <div class="login-top">
                <h3>新用户注册</h3>
                <h5>尊敬的用户，欢迎您回来！</h5>
            </div>
            <div class="login-bottom">
                <div class="login-input-box">
                    <form action="/user/registercontol/" method="post">
                    <input type="text" name="account" class="login-admin active" placeholder="邮箱注册">
                    <input type="password" name="password" class="login-password">
                        {% csrf_token %}
                        {% if usererror != "" %}
                            <span class="errorinfo">{{ usererror }}</span>
                        {% endif %}
                    <button class="login-btn" style="color: white;text-decoration: none;cursor: pointer" onclick="register()">注册</button>
                    </form>
                </div>
                <div class="login-img">
                    <img src="{% static 'img/login_05.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        $('.login-input-box>input').change(function () {
            $(this).addClass('active')
        })
{#       md5 加密 #}
        function register() {
            var password = $('input[name="password"]').val()
            var md5_password = hex_md5(password)
            $('input[name="password"]').val(md5_password)
        }
    </script>
{% endblock javascript %}
