{% extends 'base.html' %}
{% block title %}首页{% endblock title %}
{% block main %}
    <div class="classes">
        <ul class="classes-items">
                {% for category in categorys %}
                <li class="items {% if  category.id == category_id%} active{% endif %}"><a href="/?category={{ category.id }}">{{ category.cname }}</a></li>
                {% endfor %}
        </ul>
    </div>

<div class="goods-model">
        <div class="goods-content">
            {% for good in goods %}
                <div class="good">
                    <a href="#">
                        <img src="/static/media/{{ good.img  }}" width="285px" height="285px">
                        <p class="name">{{ good.gname }}</p>
                        <div class="price">
                            <i>￥</i>
                            <p class="big">{{ good.gprice }}</p>
                            <s>￥{{ good.goldprice }}</s>
                        </div>
                        <div class="sale">
                            特卖
                        </div>
                    </a>
                </div>
            {% endfor  %}
        </div>
    </div>

<div id="pager" style="text-align: center; font-size: 16px; overflow: hidden;">
    	 <a href="http://127.0.0.1:8000/?category=2&amp;page=2" style="display: inline-block; padding: 5px; margin: 5px;">下一页</a>
    </div>
{% endblock main %}