{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>

    <title>{% block title %}{% endblock title %} </title>


   <link rel="stylesheet" href="{% static 'style/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/carts.css'%}">
    <link rel="stylesheet" href="{% static 'style/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/mygxin.css' %}">

     <script src="{% static 'style/js/carts.js' %}"></script>
    <script src="{% static 'style/js/jquery.min.js' %}"></script>

</head>
<body>
{% include 'head.html' %}

{% include 'search.html' %}

{% include 'menu-nav.html' %}
{% block  goods%}
{% endblock goods %}

{% include 'foot.html' %}
    <script>
    $('#pager').css({'text-align':'center','font-size':'16px','overflow':'hidden'})
    $('#pager a').css({'display':'inline-block','padding':'5px','margin':'5px'})

    </script>
</body>
</html>