{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>

    <title>{% block title %}{% endblock title %} </title>


   <link rel="stylesheet" href="{% static 'style/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/carts.css'%}">
    <link rel="stylesheet" href="{% static 'style/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/mygxin.css' %}">

     <script src="{% static 'style/js/carts.js' %}"></script>
    <script src="{% static 'style/js/jquery.min.js' %}"></script>

</head>
<body>
{% include 'head.html' %}

{% include 'search.html' %}

{% block detail %}
{% endblock detail %}
{% block  goods%}
{% endblock goods %}
{% block recomment %}

{% endblock recomment%}
{% include 'foot.html' %}

{% block js %}

{% endblock js %}

</body>
</html>