{% extends 'base.html' %}

{% block title %}
商品页面
{% endblock title %}
{% block  goods%}
    <div class="goods-model">
        <div class="goods-content">

                <div class="good">
                    <a href=" ">
                        <img width="285" height="285" src="">
                        <p class="name">宽松短款牛仔外套</p>
                        <div class="price">
                            <i>￥</i>
                            <p class="big">79.00</p>
                            <s>￥259.00</s>
                        </div>
                        <div class="sale">
                            特卖
                        </div>
                    </a>
                </div>
        </div>
    </div>

    <div id="pager" style="text-align: center; font-size: 16px; overflow: hidden;">
    	 <a href="" style="display: inline-block; padding: 5px; margin: 5px;">下一页</a>
    </div>
{% endblock goods %}
