{% extends 'base.html' %}

{% block detail %}
<div class="detail-body" goodsid="25">
        <!-- 面包屑 -->
        <div class="bread">
            <ul class="bread-content">
                <li class="bread-item">
                    <a href="">首页</a>&gt;
                </li>

                <li class="bread-item">
                    <a href="">女装</a>&gt;
                </li>

                <li class="bread-item">
                    <a href="javascript:void(0);">秋时尚印花两件套装裙</a>
                </li>
            </ul>
        </div>

        <!-- detail-content -->
        <div class="detail-content">
            <div class="detail-con-left">
                <img src="">

            </div>
            <div class="detail-con-right">
                <h3>秋装时尚印花复古时尚休闲两件套装裙子</h3>
                <div class="price">
                    <i>￥</i>
                    <p>35.00</p>
                    <s>￥100.00</s>
                </div>

            <div class="line"></div>
            <div class="color">
                <p class="p-item">颜色：</p>
                <ul class="MinImgList">

                        <li class="MinImg active" colorid="60">
                            <img width="30" height="30" src="">
                        </li>

                        <li class="MinImg " colorid="61">
                            <img width="30" height="30" src="">
                        </li>

                </ul>
            </div>
                <div class="size">
                    <p class="p-item">
                        尺码：
                    </p>
                    <ul class="size-list">

                            <li class="size-item active" sizeid="6">S</li>

                            <li class="size-item " sizeid="8">M</li>

                            <li class="size-item " sizeid="9">L</li>

                            <li class="size-item " sizeid="10">XL</li>

                    </ul>
                </div>
                <div class="num">
                    <p class="p-item">
                        数量：
                    </p>
                    <div class="jian">-</div>
                    <input type="" value="1">
                    <div class="jia">+</div>
                </div>
                <a class="male" onclick="goCart()" href="javascript:void(0);" value="">单独购买</a>
            </div>
         <div class="detail-con-nav">
        <ul class="detail-nav">
            <li class="active nav-item "><a href="">商品详情</a></li>
            <li class="nav-item"><a href="">物流与售后</a></li>
            <li class="nav-item"><a href="">消费保障</a></li>
            <li class="nav-item"><a href="">手机购买</a></li>
        </ul>
    </div>
    <div class="sub-nav">
        <ul class="subNav">
            <li><a href="">整体款式</a></li>
            <li><a href="">模特实拍</a></li>
            <li><a href="">细节做工</a></li>
        </ul>
    </div>
    <div class="zhanshi">
        <div class="zhanshi-model">
            <p>参数规格</p>
            <div class="line"></div>
            <img alt="" src="">
        </div>
        <div class="zhanshi-model">
            <p>整体款式</p>
            <div class="line"></div>
            <img alt="" src="">
        </div>
        <div class="zhanshi-model">
            <p>模特实拍</p>
            <div class="line"></div>

                <img alt="" src="">

                <img alt="" src="">

                <img alt="" src="">

                <img alt="" src="">

                <img alt="" src="">

                <img alt="" src="">

                <img alt="" src="">

                <img alt="" src="">

            </div>
        </div>
    </div>
</div>

{% endblock detail %}