{% extends 'base.html' %}
{% load staticfiles %}
{% block detail %}
<div class="detail-body" goodsid="{{ goods.id }}">
        <!-- 面包屑 -->
        <div class="bread">
            <ul class="bread-content">
                <li class="bread-item">
                    <a href="/">首页</a>&gt;
                </li>

                <li class="bread-item">
                    <a href="/?category={{goods.categoryid.id}}">{{ goods.categoryid}}</a>&gt;
                </li>

                <li class="bread-item">
                    <a href="javascript:void(0);">{{ goods.gname }}</a>
                </li>
            </ul>
        </div>

        <!-- detail-content -->
        <div class="detail-content">
            <div class="detail-con-left">
                <img src="{{ MEDIA_URL }}{{ goods.img }}">

            </div>
            <div class="detail-con-right">
                <h3>{{ goods.gdesc }}</h3>
                <div class="price">
                    <i>￥</i>
                    <p>{{ goods.gprice }}</p>
                    <s>{{ goods.goldprice }}</s>
                </div>

            <div class="line"></div>
            <div class="color">
                <p class="p-item">颜色：</p>
                <ul class="MinImgList">
                        {% for color in colors %}
                            <li class="MinImg {% if forloop.first %} active {% endif %}" colorid="{{ color.id }}">
                            <img width="30" height="30" src="{{ MEDIA_URL }}{{ color.value }}">
                        </li>
                        {% endfor %}


                </ul>
            </div>
                <div class="size">
                    <p class="p-item">
                        尺码：
                    </p>
                    <ul class="size-list">
                        {% for size in sizes %}
                            <li class="size-item {% if forloop.first %} active {% endif %}" sizeid="{{ size.id }}">{{ size}}</li>
                        {% endfor %}


                    </ul>
                </div>
                <div class="num">
                    <p class="p-item">
                        数量：
                    </p>
                    <div class="jian">-</div>
                    <input type="number" readonly value="1">
                    <div class="jia">+</div>
                </div>
                <form action="/cart/" method="post">
                    {% csrf_token %}
                    <input name="colorid" hidden>
                    <input name="goodsid" hidden>
                    <input name="sizeid" hidden>
                    <input name="count" hidden>
                    <button class="male" onclick="goCart()"  value="" style="cursor: pointer">单独购买</button>
                </form>
            </div>
         <div class="detail-con-nav">
        <ul class="detail-nav">
            <li class="active nav-item "><a href="">商品详情</a></li>
            <li class="nav-item"><a href="">物流与售后</a></li>
            <li class="nav-item"><a href="">消费保障</a></li>
            <li class="nav-item"><a href="">手机购买</a></li>
        </ul>
    </div>
    <div class="sub-nav">
        <ul class="subNav">
            <li><a href="">整体款式</a></li>
            <li><a href="">模特实拍</a></li>
            <li><a href="">细节做工</a></li>
        </ul>
    </div>
    <div class="zhanshi">
        <div class="zhanshi-model">
            <p>参数规格</p>
            <div class="line"></div>
            <img alt="" src="{{ MEDIA_URL}}03.png">
        </div>
        <div class="zhanshi-model">
            <p>整体款式</p>
            <div class="line"></div>
            <img alt="" src="{{ MEDIA_URL }}06.png">
        </div>
        <div class="zhanshi-model">
            <p>模特实拍</p>
            <div class="line"></div>
                {% for detail in details %}
                     <img alt="" src="{{ MEDIA_URL }}{{ detail.value }}">
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock detail %}

{% block recomment %}
    <div class="goods-model" style="margin-right: -18px;text-align: center">
        <img style="position: relative;left: -10px;top: 10px" src="{% static 'style/img/recommend.png' %}">

        <div class="goods-content">
            {% for r_goods in recomment_goods %}

                <div class="good">
                    <a href="/goods/?goodid={{ r_goods.id }}">
                        <img width="285" height="285" src="{{ MEDIA_URL }}{{ r_goods.img }}">
                        <p class="name">{{ r_goods.gname }}</p>
                        <div class="price">
                            <i>￥</i>
                            <p class="big">{{ r_goods.gprice }}</p>
                            <s>￥{{ r_goods.goldprice }}</s>
                        </div>
                        <div class="sale">
                            特卖
                        </div>
                    </a>
                </div>
            {% endfor %}





        </div>
    </div>
{% endblock %}
{% block js %}
    <script>

        $('.MinImg').click(function () {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            var src = this.getElementsByTagName('img')[0].src;
            $('.detail-con-left>img').attr('src', src);
            var goodsId = $('.detail-body').attr('goodsId');
            var colorId = $(this).attr('colorId');
            var data = 'goodsId=' + goodsId + "&colorId=" + colorId;
            $.post('getsize/', data, function (data, status) {
                if (status == 'success') {

                    $('.size-list').empty()
                    $.each($.parseJSON(data), function (index, content) {
                        item = document.createElement('li');
                        $(item).addClass('size-item');
                        $(item).attr('sizeId', content.pk)
                        $(item).append(document.createTextNode(content.fields.value))
                        $('.size-list').append(item);
                        if (index == 0) {
                            $(item).addClass('active');
                        }

                    });
                    $('.size-item').click(function () {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');
                    });
                }
            })
        })
        $('.size-item').click(function () {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
        });
        $('.jian').click(function () {
            if ($('.num input').val() <= 1)
                return
            $('.num input').val($('.num input').val() - 1)
        });
        $('.jia').click(function () {
            $('.num input').val(parseInt($('.num input').val()) + 1)
        });

        function goCart() {
            $('form').children('input[name="colorid"]').val($('.MinImg.active').attr('colorid'))
            $('form').children('input[name="goodsid"]').val({{ goods.id }})
            $('form').children('input[name="sizeid"]').val($('.size-item.active').attr('sizeid'))
            $('form').children('input[name="count"]').val($('.num').children('input[type="number"]').val())
        }
    </script>
{% endblock %}

































