<div class="head">
    <div class="head-in">
        <ul class="options">
            <li class="sub"><a href="http://127.0.0.1:8000/?category=2#">我的订单</a></li>
            <li class="sub"><a href="http://127.0.0.1:8000/?category=2#">商家中心</a></li>
            <li class="sub"><a href="http://127.0.0.1:8000/?category=2#">客户服务</a></li>
        </ul>
        <div class="register"><a href="http://127.0.0.1:8000/?category=2#">免费注册</a></div>
        <div class="sign"><a href="http://127.0.0.1:8000/login/">登录</a></div>
    </div>
</div>