<div class="classes">
        <ul class="classes-items">

                <li class="items  "><a href=''>男装</a></li>

                <li class="items active "><a href="">女装</a></li>

                <li class="items  "><a href="">鞋子</a></li>

                <li class="items  "><a href="">箱包</a></li>

                <li class="items  "><a href="">母婴</a></li>

                <li class="items  "><a href="">美妆</a></li>

                <li class="items  "><a href="">居家</a></li>

                <li class="items  "><a href="">家纺</a></li>

                <li class="items  "><a href="">文体</a></li>

                <li class="items  "><a href="">美食</a></li>

                <li class="items  "><a href="">数码</a></li>

                <li class="items  "><a href="">电器</a></li>

                <li class="items  "><a href="">内衣</a></li>

                <li class="items  "><a href="">装饰</a></li>

        </ul>
    </div>