{% load staticfiles %}
<div class="search">
    <ul class="items">
        <li class="item">
            <a href="">
                <img src="{% static 'style/img/1_09.png' %}">
                <p>10:00开抢</p>
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="{% static 'style/img/1_11.png' %}">
                <p>买手砍价</p>
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="{% static 'style/img/1_13.png' %}">
                <p>验货质检</p>
            </a>
        </li>
    </ul>
    <div class="input">
        <input type="" value="请输入想找的宝贝">
        <img src="{% static 'style/img/1_06.png' %}">
    </div>
</div>