{% extends 'base.html' %}
{% block cart %}
    <section class="cartMain">
        <div class="cartMain_hd">
            <ul class="order_lists cartTop">
                <li class="list_chk">
                    <!--所有商品全选-->
                    <input type="checkbox" id="all" class="whole_check">
                    <label for="all"></label>
                    全选
                </li>
                <li class="list_con">商品信息</li>
                <li class="list_info">商品参数</li>
                <li class="list_price">单价</li>
                <li class="list_amount">数量</li>
                <li class="list_sum">金额</li>
                <li class="list_op">操作</li>
            </ul>
        </div>

        <div class="cartBox">
            <div class="order_content">
                {% for cartItem in cartItems %}

                    <ul class="order_lists">
                        <li class="list_chk">
                            <input type="checkbox" id="checkbox_2" class="son_check">
                            <label for="checkbox_2"></label>
                        </li>
                        <li class="list_con">
                            <div class="list_img"><a href="/goods/?goodid={{ cartItem.goods.id }};"><img src="{{ MEDIA_URL }}{{ cartItem.color.value }}" alt=""></a></div>
                            <div class="list_text"><a href="/goods/?goodid={{ cartItem.goods.id }};">{{ cartItem.goods.gname }}</a></div>
                        </li>
                        <li class="list_info">
                            <p>颜色：红色</p>
                            <p>尺寸：S</p>
                        </li>
                        <li class="list_price">
                            <p class="price">￥{{ cartItem.goods.gprice }}</p>
                        </li>
                        <li class="list_amount">
                            <div class="amount_box">
                                <a href="javascript:;" class="reduce reSty" goodsid="{{ cartItem.goodsid }}" colorid="{{ cartItem.colorid }}" sizeid = "{{ cartItem.sizeid }}">-</a>
                                <input type="text" value="{{ cartItem.count }}" class="sum" readonly="" id="{{ cartItem.goodsid }}:{{ cartItem.colorid }}:{{ cartItem.sizeid }}">
                                <a href="javascript:;" class="plus" goodsid="{{ cartItem.goodsid }}" colorid="{{ cartItem.colorid }}" sizeid = "{{ cartItem.sizeid }}">+</a>
                            </div>
                        </li>
                        <li class="list_sum">
                            <p class="sum_price">￥{{ cartItem.all_price }}</p>
                        </li>
                        <li class="list_op">
                            <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                        </li>
                    </ul>
                {% endfor %}


            </div>
        </div>
        <!--底部-->
        <div class="bar-wrapper">
            <div class="bar-right">
                <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
                <div class="calBtn"><a href="javascript:;" id="jiesuan">结算</a></div>
            </div>
        </div>
    </section>
    <section class="model_bg"></section>
    <section class="my_model">
{% endblock cart%}

{% block js %}
    <script>
    $('.plus').click(function(event){
        /* 得到post提交内容 */
        var options = 'goodsid='+$(this).attr('goodsid')+"&colorid="+$(this).attr('colorid')+'&sizeid='+$(this).attr('sizeid')+"&type=add&count=1"
        console.log(options)
        var textNode = $(this).parent('div.amount_box').children('input')
       var priceNode = $(this).parents('.list_amount').siblings('.list_price').children('.price')
       var allPriceNode = $(this).parents('.list_amount').siblings('.list_sum').children('.sum_price')
       $.ajax({
            type:'post',
            url:'/cart/cart.html/',
           data:options,
           success:function (data) {
               if(data.errorcode==200){
                   textNode.val(parseInt(textNode.val())+1)
                   var count = textNode.val()
                   var price = parseFloat(priceNode.text().substr(1))
                   allPriceNode.text('￥' + count * price + '.00')

               }else{
                   alert('添加失败'+data.errormsg)
               }
           },
           error:function (data) {
               console.log(data)
           }
       });
       /* 屏蔽之前的事件*/
       event.stopImmediatePropagation()
    });
$('.reduce').click(function (event) {
        var textNode = $(this).parent('div.amount_box').children('input')
        console.log(textNode.val())
        var options = 'goodsid='+$(this).attr('goodsid')+"&colorid="+$(this).attr('colorid')+'&sizeid='+$(this).attr('sizeid')+"&type=add&count=-1"
       console.log(options)
        var priceNode = $(this).parents('.list_amount').siblings('.list_price').children('.price')
        var allPriceNode = $(this).parents('.list_amount').siblings('.list_sum').children('.sum_price')

        $.ajax({
            type:'post',
            url:'/cart/cart.html/',
            data:options,
            success:function (data) {
                if(data.errorcode==200){
                   textNode.val(parseInt(textNode.val())-1)
                   var count = textNode.val()
                   var price = parseFloat(priceNode.text().substr(1))
                   allPriceNode.text('￥'+count*price+'.00')
                }else {
                    console.log(data.errormsg)
                }
            },
            error:function (data) {
                console.log(data)
            }
        });

        event.stopImmediatePropagation()
    });
    </script>


{% endblock js %}