{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!--类别部分-->
    <div class="classes">
        <ul class="classes-items">
            {% for foo in categorys %}
                {% if foo.id == category_id %}
                    <li class="items active "><a href="/?category={{ foo.id }}">{{ foo }}</a></li>
                    {% else %}
                    <li class="items  "><a href="/?category={{ foo.id }}">{{ foo }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    </div>
    <!--商品展示-->
    <div class="goods-model">
        <div class="goods-content">
                {% for good in goods %}

                    <div class="good">
                    <a href="/details?goodsId={{ good.id }}">
                        <img src="{{ MEDIA_URL }}{{ good.img }}" width="285px" height="285px">
                        <p class="name">{{ good.gname }}</p>
                        <div class="price">
                            <i>￥</i>
                            <p class="big">{{ good.gprice }}</p>
                            <s>￥{{ good.goldprice }}</s>
                        </div>
                        <div class="sale">
                            特卖
                        </div>
                    </a>
                    </div>
                {% endfor %},
        </div>
    </div>
    <!--分页部分-->
    <div id="pager" style="text-align: center; font-size: 16px; overflow: hidden;">

        {% if page.has_previous %}
            <a href="http://127.0.0.1:8000/?category={{ category_id }}&amp;page={{ page.previous_page_number }}" style="display: inline-block; padding: 5px; margin: 5px;">上一页</a>
        {% endif %}
        {% if page.has_next %}
         <a href="http://127.0.0.1:8000/?category={{ category_id }}&amp;page={{ page.next_page_number }}" style="display: inline-block; padding: 5px; margin: 5px;">下一页</a>
        {% endif %}


    </div>
{% endblock content %}
{% block javascript %}
    <script>
    $('#pager').css({'text-align':'center','font-size':'16px','overflow':'hidden'})
    $('#pager a').css({'display':'inline-block','padding':'5px','margin':'5px'})

    </script>
{% endblock javascript %}